/* global classes */
.home-consorcio .h-100 { height: 100%; }
.home-consorcio {
    font-family: "Source Sans Pro";
}
.home-consorcio .consorcio-container {
    width: 100%;
    padding-right: calc(var(--lqd-row-gutter-x)* .5);
    padding-left: calc(var(--lqd-row-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

/* custom classes */
.home-consorcio .home-consorcio-main-section {
    background-image: url('../img/home_consorcio/bg-main-section.png');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 592px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
}
.home-consorcio .home-consorcio-main-section .main-section-bloc-1 {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}
.home-consorcio .home-consorcio-main-section .main-section-bloc-2 {
    padding-left: 12px;
}
.home-consorcio .home-consorcio-main-section .title-box {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
    color: #fff;
}                           
.home-consorcio .home-consorcio-main-section .title-box h1 { 
    font-size: 43px;
    font-weight: 400;
}
.home-consorcio .home-consorcio-main-section .title-box h1 b {
    font-weight: 900;
}
.home-consorcio .home-consorcio-main-section .title-box h2 {
    font-size: 36px;
    font-weight: 700;
}
.home-consorcio .home-consorcio-main-section .banner-box {
    display: flex;
    align-items: end;
}
.home-consorcio .home-consorcio-main-section .banner-box img {
    width: 261px;
    height: 350px;
    border-radius: 38px;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-wrapper {
    display: flex;
    flex-direction: column;
}
.home-consorcio .home-consorcio-main-section .simulacao-card {
    background-color: #fff;
    padding: 22px;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-title h2 {
    font-size: 36px;
    color: #333333;
    font-weight: 900;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 16px;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-bottom {
    background-color: #D7263D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-bottom h6 { color: #fff; }
.home-consorcio .home-consorcio-main-section .simulacao-card-bottom a { color: #fff; font-weight: bold; }
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line {
    display: flex;
    flex-direction: column;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper {
    display: flex; 
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper label {
    background-color: #F4F5F7;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 36px;
    cursor: pointer;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
    border: 1px solid #666666;
    border-radius: 0;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper label:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper label:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper label:hover {
    background: #F9F1F0;
    border-color: #DCA9A7;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper label.active {
    background-color:#D7263D;
    color: #fff;
    border: none;
}
.home-consorcio .home-consorcio-main-section .simulacao-button-wrapper input {
    display: none;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-label {
    font-size: 18px;
    font-weight: 600;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input-box {
    border: 1px solid #E1E3E6;
    color: #666;
    border-radius: 8px;
    height: 44px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    gap: 8px;
}
.simulacao-card-body-line-input-wrapper:focus-within .simulacao-card-body-line-input-box{
    border: 1px solid #7985A8;
    box-shadow: 0 0 0 4px #7985A820;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input-box {}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input {
    width: 100%;
    border: none;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input:focus {
    outline: none;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input::-webkit-outer-spin-button,
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-input[type=number] {
    -moz-appearance:textfield;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-range-box {
    height: 20px;
    display: flex;
    align-items: center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .home-consorcio .home-consorcio-main-section .simulacao-card-body-line-range {
        overflow: visible;
        -webkit-appearance: none;
        background-color: #9BA0A3;
        border-radius: 8px;
        height: 6px;
        width: 100%;
        cursor: pointer;
    }
    
    .home-consorcio .home-consorcio-main-section .simulacao-card-body-line-range::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    
    .home-consorcio .home-consorcio-main-section .simulacao-card-body-line-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        cursor: ew-resize;
        background: #D7263D;
        border-radius: 100%;
        margin-top: -5px;
    }

}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-line-value-box {
    display: flex;
    justify-content: space-between;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-button {
    background-color: #D7263D;
    padding: 1rem;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 3.75px;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-button:hover {
    transition: .3s;
    border-radius: 5px;
    transform: scale(1.01);
    background-color: #D7263D;
}
.home-consorcio .home-consorcio-main-section .simulacao-card-body-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
  
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.home-consorcio .home-know-main-section {
    background-image: url(../img/home_consorcio/know-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 560px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
}
.home-consorcio .home-know-main-section .home-know-chat-card {
    background-color: #332778;
    position: relative;
    padding: 1.5rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    min-height: 200px;
    transition: .3s;
}
.home-consorcio .home-know-main-section .home-know-chat-card h2 {
    font-weight: 700;
}
.home-consorcio .home-know-main-section .home-know-chat-card h3 {
    font-weight: 400;
}
.home-consorcio .home-know-main-section .home-know-chat-bloc {
    position: relative;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}
.home-consorcio .home-know-main-section .home-know-chat-bloc .home-know-chat-card-arrow {
    position: absolute; 
    left: 0px;
    top: 140px;
}
.home-consorcio .home-know-main-section .home-know-chat-ring-wrapper {
    background-color: #D7263D;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: absolute;
    right: -30px;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-consorcio .home-know-main-section .home-know-chat-bloc .home-know-chat-button {
    background-color: #D7263D;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 3.75px;
    max-width: 400px;
    font-size: 21px;
}
.home-consorcio .home-know-main-section .home-know-chat-bloc .home-know-chat-button:hover {
    transition: .3s;
    border-radius: 5px;
    background-color: #D7263D;
    transform: scale(1.01); 
}
.home-consorcio .home-know-main-section .home-know-chat-bloc .home-know-chat-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
.home-consorcio .home-know-main-section .home-know-chat-card-title-bloc {
    display: flex;
    justify-content: space-between;
}
.home-consorcio .home-know-main-section .home-know-chat-card-title-arrow-box {
    min-width: 70px;
}
.home-consorcio .home-know-main-section .home-know-chat-card-title-arrow-box button {
    border: none;
    background-color: transparent;
}
.home-consorcio .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    transition: transform .5s ease, opacity .5s ease-out;
}
.home-consorcio .home-know-chat-ring-bell {
    display:block;
    width: 40px;
    height: 40px;
}
.home-consorcio .home-know-chat-ring-bell:hover {
    -webkit-animation: ring 1s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 1s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 1s ease-in-out infinite;
    transform-origin: 50% 4px;
}
.home-consorcio .ring-bell-active {
    -webkit-animation: ring 1s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 1s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 1s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@keyframes ring {
    0% { transform: rotate(0); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}
.home-consorcio .home-know-main-section .home-know-image {
    width: 100%;
}
.home-consorcio .home-benefits-main-section {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 592px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
}
.home-consorcio .home-benefits-main-section .home-benefits-title { 
    color: #666666;
    font-weight: bold;
    font-size: 50px;
}
.home-consorcio .home-benefits-main-section .home-benefits-card {
    border-radius: 8px;
    border: 3px solid #5041BE;
    padding: 1rem;
    min-height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 25%;
    overflow: hidden;
}
.home-consorcio .home-benefits-main-section .home-benefits-card:hover .home-benefits-card-overlay { opacity: 1;}
.home-consorcio .home-benefits-main-section .home-benefits-card.home-benefits-card-bg-1 { background-image: url('../img/home_consorcio/home-benefits-card-bg-1.png'); }
.home-consorcio .home-benefits-main-section .home-benefits-card.home-benefits-card-bg-2 { background-image: url('../img/home_consorcio/home-benefits-card-bg-2.png'); }
.home-consorcio .home-benefits-main-section .home-benefits-card.home-benefits-card-bg-3 { background-image: url('../img/home_consorcio/home-benefits-card-bg-3.png'); }
.home-consorcio .home-benefits-main-section .home-benefits-card.home-benefits-card-bg-4 { background-image: url('../img/home_consorcio/home-benefits-card-bg-4.png'); }
.home-consorcio .home-benefits-main-section .home-benefits-card h5 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    z-index: 10;
}
.home-consorcio .home-benefits-main-section .home-benefits-card p {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    z-index: 10;
}
.home-benefits-card-row {
    display: flex;
    gap: 24px;
}
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button {
    background-color: #F9F1F0;
    padding: .2rem .4rem;
    color: #D7263D;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    border-radius: 3.75px;
    font-size: 13px;
    border: 1px solid #D7263D;
    max-width: 120px;
    place-self: center;
    z-index: 10;
}
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button:hover {
    transition: .3s;
    border-radius: 5px;
    background-color: #D7263D;
    color: #fff;
    transform: scale(1.01); 
    text-decoration: none;
}
.home-consorcio .home-benefits-main-section .home-benefits-card:hover .home-benefits-card-button {
    transition: .3s;
    border-radius: 5px;
    background-color: #D7263D;
    color: #fff;
    transform: scale(1.01); 
    text-decoration: none;
}
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button svg { width: 16px; }
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button svg path { fill: #fff; }
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button svg rect { fill: #D7263D; }
.home-consorcio .home-benefits-main-section .home-benefits-card .home-benefits-card-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
.home-consorcio .home-benefits-main-section .home-benefits-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    opacity: 0;
    transition: .3s ease;
}
.home-consorcio .home-benefits-main-section .home-benefits-contact-button {
    background-color: #F8C300;
    padding: 1rem;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 3.75px;
}
.home-consorcio .home-benefits-main-section .home-benefits-contact-button:hover {
    transition: .3s;
    border-radius: 5px;
    transform: scale(1.01);
    background-color: #C79C00;
}
.home-consorcio .home-benefits-main-section .home-benefits-contact-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
  
.home-consorcio .home-solutions-main-section {
    background-color: #F4F5F7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 560px;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;   
}
.home-consorcio .home-solutions-main-section .home-solutions-title { 
    color: #333;
    font-weight: bold;
    font-size: 50px;
}
.home-consorcio .consorcio-solutions-tab-image-box {
    width: 50%;
    background-image: url('../img/home_consorcio/solutions-tab-image-1.png');
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.home-consorcio .consorcio-solutions-tab-title-box {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1rem ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-image: url('../img/home_consorcio/solutions-tab-image-bg.svg');
    transition: .1s;
}
.home-consorcio .consorcio-solutions-tab-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.home-consorcio .consorcio-solutions-tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home-consorcio .consorcio-solutions-tab-card-front {
    display: flex;
    background-color: #EBEBEB;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.home-consorcio .consorcio-solutions-tab-card-front:hover .consorcio-solutions-tab-title-box { background-image: url(../img/home_consorcio/solutions-tab-image-bg-red.svg); }
.home-consorcio .consorcio-solutions-tab-card-front:hover .consorcio-solutions-tab-title-box .consorcio-solutions-tab-title { color: #fff; }
.home-consorcio .consorcio-solutions-tab-card-back {
    background-image: url('../img/home_consorcio/solutions-tab-active.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.home-consorcio .consorcio-solutions-tab-card-back h6 {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.home-consorcio .consorcio-solutions-tab-card-back p {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 0;
    color: #333333;
}
.home-consorcio .consorcio-solutions-tab-wrapper a {
    perspective: 1000px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    height: 127px;
}
.home-consorcio .consorcio-solutions-tab-wrapper a:hover {
    transform: scale(1.005); 
    transition: .3s;
    filter: drop-shadow(.5px .5px 5px #ffffff50);
}
.home-consorcio .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.home-consorcio .consorcio-solutions-tab-contempladas-card.active .flip-card-inner { transform: rotateY(180deg); }
.home-consorcio .consorcio-solutions-tab-imoveis-card.active .flip-card-inner { transform: rotateY(180deg); }
.home-consorcio .consorcio-solutions-tab-veiculos-card.active .flip-card-inner { transform: rotateY(180deg); }
.home-consorcio .consorcio-solutions-tab-card.active.forceFlip .flip-card-inner { transform: rotateY(0deg); }
.home-consorcio .consorcio-solutions-tabContent-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.home-consorcio .consorcio-solutions-tabContent-card {
    border-radius: 12px;
    background: #EBCDCC;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-decoration: none !important;
}
.home-consorcio .consorcio-solutions-tabContent-card-title {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0px;
}
.home-consorcio .consorcio-solutions-tabContent-card-row.bg-red { background-image: url('../img/home_consorcio/consorcio-solutions-tabContent-card-row-bg-red.svg'); }
.home-consorcio .consorcio-solutions-tabContent-card-row.bg-blue { background-image: url('../img/home_consorcio/consorcio-solutions-tabContent-card-row-bg-blue.svg'); }
.home-consorcio .consorcio-solutions-tabContent-card-row {
    background-repeat: no-repeat;
    display: flex;
    height: 71px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    padding: 1rem 2rem 1rem 3rem;
    gap: 1rem;
    border: 1px solid rgba(102, 102, 102, 0.30);
}
.home-consorcio .consorcio-solutions-tabContent-card-row:hover {
    text-decoration: none;
    transform: scale(1.005); 
    transition: .3s;
    filter: drop-shadow(.5px .5px 5px #ffffff50);
    cursor: pointer;
}
.home-consorcio .consorcio-solutions-tabContent-card-row-icon {
    margin-left: auto;
}
.home-consorcio .consorcio-solutions-tabContent-card-row-icon  svg{

}
.home-consorcio .consorcio-solutions-tabContent-card-row-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
}
.home-consorcio .consorcio-solutions-tabContent-card-row-bloc h6 {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}
.home-consorcio .consorcio-solutions-tabContent-card-row-bloc h5 {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}
.home-consorcio .consorcio-solutions-tabContent-card-row-divider {
    height: 100%;
    width: 1px;
    background-color: #666;
}
.home-consorcio .text-decoration-underline { text-decoration: underline;}
.home-consorcio .consorcio-solutions-tabContent-card-big {
    border-radius: 12px;
    background: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.home-consorcio .consorcio-solutions-tabContent-card-row:hover.bg-red .consorcio-solutions-tabContent-card-row-icon svg rect{ fill: #EBCDCC; transition: .3s; }
.home-consorcio .consorcio-solutions-tabContent-card-row:hover.bg-red .consorcio-solutions-tabContent-card-row-icon svg path{ fill: #D7263D; transition: .3s; }
.home-consorcio .consorcio-solutions-tabContent-card-row:hover.bg-blue .consorcio-solutions-tabContent-card-row-icon svg rect{ fill: #332778; transition: .3s; }
.home-consorcio .consorcio-solutions-tabContent-card-row:hover.bg-blue .consorcio-solutions-tabContent-card-row-icon svg path{ fill: #fff; transition: .3s; }
.home-consorcio .consorcio-solutions-modal .modal-dialog { max-width: 665px; }
.home-consorcio .consorcio-solutions-modal .modal-header { padding: 1.5rem 2rem; }
.home-consorcio .consorcio-solutions-modal .modal-title {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.home-consorcio .consorcio-solutions-modal .modal-body { padding: 1.5rem 2rem; }
.home-consorcio .consorcio-solutions-modal .modal-contact-row .modal-contact-form-button {
    display: flex;
    padding: 9.725px 19.451px;
    align-items: center;
    gap: 9.725px;
    border-radius: 3.647px;
    background: #FABB06;
    border: none;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-row .modal-contact-form-button:hover {
    background-color: #C79C00;
}
.home-consorcio .consorcio-solutions-modal .modal-body p {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-row {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    background: #F4F5F7;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-form-bloc { width: 50%; }
.home-consorcio .consorcio-solutions-modal .modal-contact-card-bloc { width: 50%; padding-top: 1rem; }
.home-consorcio .consorcio-solutions-modal .modal-contact-card { 
    border-radius: 12px;
    background: #EBCDCC;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 16px 4px 4px 4px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-card-title {
    color: #333;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard {
    background-image: url('../img/home_consorcio/solutions-modal-smallcard-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem ;
    border: 1px solid rgba(102, 102, 102, 0.30);
    border-radius: 16px;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard h6 {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard h5 {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard hr { margin: 0px; width: 136px; border-color: #666666; }
.home-consorcio .consorcio-solutions-modal .modal-contact-smallcard-bloc-icon { display: flex; justify-content: center; margin-top: 5px; }
.home-consorcio .consorcio-solutions-modal .modal-contact-form-label {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 5px;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-form-label span {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-form-input {
    border-radius: 8px;
    border: 1px solid #E1E3E6;
    padding: .75rem 1rem;
}
.home-consorcio .consorcio-solutions-modal .modal-contact-form-input:focus {
    border: 1px solid #7985A8;
    box-shadow: 0 0 0 4px #7985A820;
    outline: none;
}
.home-consorcio .home-solutions-main-section .home-solutions-simulation-button {
    background-color: #D7263D;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 51px;
    border-radius: 3.75px;
    max-width: 400px;
    font-size: 15px;
}
.home-consorcio .home-solutions-main-section .home-solutions-simulation-button:hover {
    transition: .3s;
    border-radius: 5px;
    background-color: #D7263D;
    transform: scale(1.01); 
}
.home-consorcio .home-solutions-main-section .home-solutions-simulation-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
.home-consorcio .home-solutions-main-section .home-solutions-simulation-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.home-consorcio .home-whyapolar-main-section {
    background-image: url('../img/home_consorcio/whyapolar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 423px;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;   
}
.home-consorcio .home-whyapolar-title {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
}
.home-consorcio .home-whyapolar-counter-col {
    margin-top: 3.5rem;
}
.home-consorcio .home-whyapolar-counter-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.home-consorcio .home-whyapolar-counter-item-bloc {
    display: flex;
    flex-direction: column;
    width: 31%;
}
.home-consorcio .home-whyapolar-counter-item-bloc h1 {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
}
.home-consorcio .home-whyapolar-counter-item-bloc h5 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.home-consorcio .home-testimonials-main-section {
    background-color: #DEDAF6;
    min-height: 260px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
}
.home-consorcio .home-testimonials-carrousel-slider-wrapper {
    display: flex;
    gap: .5rem;
}
.home-consorcio .home-testimonials-carrousel-slider-text-box {
    display: flex;
    flex-direction: column;
}
.home-consorcio .home-testimonials-carrousel-slider-text-box p {
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.home-consorcio .home-testimonials-carrousel-slider-text-box small {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    text-align: right;
}
.home-consorcio .home-testimonials-main-section .carousel-control-next { right: -10%; }
.home-consorcio .home-testimonials-main-section .carousel-control-prev { left: -10%; }
.home-consorcio .home-testimonials-main-section .carousel-control-next, .home-testimonials-main-section .carousel-control-prev{ opacity: 0; transition: .3s;}
.home-consorcio .home-testimonials-main-section:hover .carousel-control-next, .home-testimonials-main-section:hover .carousel-control-prev{ opacity: 1; }
.home-consorcio .home-testimonials-main-section .home-testimonials-carrousel-indicator {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #D0D0D0;
    border: none;
    border-radius: 86px;
}
.home-consorcio .home-testimonials-main-section .home-testimonials-carrousel-indicator.active {
    background-color: #666;
    width: 26px;
    border-radius: 86px;
}
.home-consorcio #homeTestimonialsCarrousel {
    padding-bottom: 2rem;
}
.home-consorcio .home-faq-main-section {
    background-image: url('../img/home_consorcio/interrogation-bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 260px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.home-consorcio .home-faq-title-wrapper {

}
.home-consorcio .home-faq-title-wrapper h2 {
    color: #666;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
}
.home-consorcio .home-faq-title-wrapper h4 {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.home-consorcio .home-faq-accordion-wrapper {
    margin-top: 1rem;
}
.home-consorcio .home-accordion-card {
    
}
.home-consorcio .home-accordion-button {
    background: #D8DAE5;
    border: none;
    width: 100%;
    height: 100%;
    padding: 8px 32px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
    border-radius: 39px;
    text-align: left;
}
.home-consorcio .home-accordion-button:hover{
    background-color: #EBCDCC;
}
.home-consorcio .home-accordion-button[aria-expanded="true"]{
    background-color: #D7263D;
    color: #fff;
}
.home-consorcio .home-accordion-button[aria-expanded="true"] .home-accordion-arrow {
    transform: rotate(180deg);
}
.home-consorcio .home-accordion-button[aria-expanded="true"] .home-accordion-arrow svg path {
    fill: #fff;
}
.home-consorcio .home-accordion-body { padding: 1rem; }
.home-consorcio .home-accordion-body p {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.home-consorcio .home-faq-accordion-wrapper .accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home-consorcio .home-faq-contact-card {
    background: #FFF;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    max-width: 398px;
    padding: 24px;
    flex-direction: column;
    gap: 32px;
    margin-left: auto;
}
.home-consorcio .home-faq-contact-form-label {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 5px;
}
.home-consorcio .home-faq-contact-form-label span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.home-consorcio .home-faq-contact-form-input {
    border-radius: 8px;
    border: 1px solid #E1E3E6;
    padding: .75rem 1rem;
}
.home-consorcio .home-faq-contact-form-input:focus {
    border: 1px solid #7985A8;
    box-shadow: 0 0 0 4px #7985A820;
    outline: none;
}
.gap-4 { gap: 1rem;}
.home-consorcio .home-faq-contact-form-label.width-48 {
    width: 48%;
}
.home-consorcio .home-faq-contact-form-textarea {
    border-radius: 8px;
    border: 1px solid #E1E3E6;
    padding: .75rem 1rem;
}
.home-consorcio .home-faq-contact-form-textarea:focus {
    border: 1px solid #7985A8;
    box-shadow: 0 0 0 4px #7985A820;
    outline: none;
}
.home-consorcio .home-faq-contact-button {
    background-color: #F8C300;
    padding: 1rem;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 3.75px;
    width: 100%;
}
.home-consorcio .home-faq-contact-button:hover {
    transition: .3s;
    border-radius: 5px;
    transform: scale(1.01);
    background-color: #C79C00;
}
.home-consorcio .home-announcement-banner-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: #7367CB;
    display: flex;
    height: 223px;
    padding: 1rem;
    gap: 40px;
}
.home-consorcio .home-announcement-banner-icon-wrapper {
    display: flex;
    align-items: center;
    width: 20%;
}
.home-consorcio .home-announcement-banner-text-wrapper h6 {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.home-consorcio .home-announcement-banner-text-wrapper p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.home-consorcio .home-announcement-banner-button {
    background-color: #FBF7EC;
    padding: 1rem 2rem;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 51px;
    border-radius: 3.75px;
    max-width: 250px;
    font-size: 15px;
}
.home-consorcio .home-announcement-banner-button:hover {
    transition: .3s;
    border-radius: 5px;
    background-color: #e8e2d1;
    transform: scale(1.01); 
}
.home-consorcio .home-announcement-banner-button:hover svg path{
    transition: .3s;                                                       
    display: inline-block;
    animation: rotation .3s linear;
}
.home-consorcio .home-announcement-banner-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Tooltip container */
.home-consorcio .consorcio-solutions-tabContent-card-tooltip-wrapper {
    position: relative;
    display: inline-block;
}
.home-consorcio .consorcio-solutions-tabContent-card-tooltip-wrapper .consorcio-solutions-tabContent-card-tooltip-content {
    visibility: hidden;
    width: 200px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: .5rem;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 7px;
    right: -205px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}
.home-consorcio .consorcio-solutions-tabContent-card-tooltip-wrapper:hover .consorcio-solutions-tabContent-card-tooltip-content {
    visibility: visible;
}
.home-consorcio .consorcio-solutions-tabContent-card-tooltip-wrapper .consorcio-solutions-tabContent-card-tooltip-content h6 {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.home-consorcio .consorcio-solutions-tabContent-card-tooltip-wrapper .consorcio-solutions-tabContent-card-tooltip-content h5 {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}