@media screen and (min-width: 1600px){}
@media screen and (max-width: 1680px){}
@media screen and (min-width: 1440px) and (max-width: 1679px){}
@media screen and (min-width: 1281px) and (max-width: 1439px){}
@media screen and (min-width: 1025px) and (max-width: 1280px){}
@media screen and (max-width: 1024px){}
@media screen and (min-width: 961px) and (max-width: 1024px){
    .navbar-nav {margin-top: 1rem;border-top: 1px solid #33333359;border-bottom: 1px solid #33333359;padding-bottom: .5rem;}
    .navbar-expand-xl .navbar-nav .nav-link {padding: 8px 0px;border-bottom: 1px solid #33333317;margin: 0 20px;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(5) .nav-link {border-bottom: unset;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(6) .nav-link, .navbar-expand-xl .navbar-nav .nav-item:nth-child(7) .nav-link {margin: 10px 20px;width: 45%;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(7) {position: absolute;bottom: 17px;right: 0;width: 47%;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(7) .nav-link {float: right;width: 100%;}
    .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49,44,115, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
    .navbar-toggler-icon {border-color: var(--jacarta);}
    .header-default nav .nav-item:last-of-type {margin-left: 0;}    
    .announce-main-section {background-size: inherit;min-height: 589px;padding-top: 40px;}
    .advantages-section-image, .advantages-section-two .advantages-section-image {background-size: contain; border-radius: 30px;}
    .advantages-section-image img {position: relative;bottom: 0;right: -40%;max-width: 250px;}
    .advantages-section-two .advantages-section-image img {position: relative;bottom: 0;right: -40%;max-width: 250px;}
    .advantages-card:first-of-type, .advantages-card:nth-child(2) {margin-top: 1rem;}
    .advantages-card-bottom {margin-bottom: 1rem;}
    .steps-section-card {margin-top: 1rem;}
    .steps-section-card-item {margin-bottom: 3rem;}
    .steps-section-card-item:last-of-type {margin-bottom: 2rem;}
    .steps-section-card-item-line{height: 500px;}
    .steps-section .mascot-image {margin-left: 28%;max-height: 500px;}
    .steps-section .did-you-know-card-block {min-height: 210px;}
    .know-more-card .card-body {min-height: 240px;}
    .know-more-card .card-text {height: 90px;}
    .calculator-section{height: unset;}
    .calculator-card, .calculator-card .calculadora, .calculator-card iframe {height: revert-layer;}
    .faq-section-contact{margin-top: 1rem;}
    .faq-section-contact, .faq-section-contact .btn_default {max-width: unset; width: 100%;}
    .sales-counter, .rent-counter{display: grid;grid-template-columns: 1fr 1fr;border-radius: 25px;}
    .sales-counter-item, .rent-counter-item{justify-content: space-between;}
    .sales-counter-item:first-of-type, .sales-counter-item:nth-child(3){border-right: 1px solid #33333359;}
    .sales-counter-item:last-of-type, .sales-counter-item:nth-child(3){border-top: 1px solid #33333359;}
    .rent-counter-item:first-of-type, .rent-counter-item:nth-child(3){border-right: 1px solid #33333359;}
    .rent-counter-item:last-of-type, .rent-counter-item:nth-child(3){border-top: 1px solid #33333359;}
    .sales-counter-item h1{width: 35%!important;}
    .rent-counter-item h1{width: 65%!important;}
    .know-more-bottom-image {width: 30%;height: 30%;margin: auto;}
}
@media screen and (min-width: 768px) and (max-width: 960px){
    .navbar-nav {margin-top: 1rem;border-top: 1px solid #33333359;border-bottom: 1px solid #33333359;padding-bottom: .5rem;}
    .navbar-expand-xl .navbar-nav .nav-link {padding: 8px 0px;border-bottom: 1px solid #33333317;margin: 0 20px;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(5) .nav-link {border-bottom: unset;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(6) .nav-link, .navbar-expand-xl .navbar-nav .nav-item:nth-child(7) .nav-link {margin: 10px 20px;}
    .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49,44,115, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
    .navbar-toggler-icon {border-color: var(--jacarta);}
    .header-default nav .nav-item:last-of-type {margin-left: 0;}    
    .announce-main-section {background-size: inherit;min-height: 589px;padding-top: 40px;}
    .advantages-section-image, .advantages-section-two .advantages-section-image {background-size: contain; border-radius: 30px;}
    .advantages-section-image img {position: relative;bottom: 0;right: -40%;max-width: 250px;}
    .advantages-section-two .advantages-section-image img {position: relative;bottom: 0;right: -22%;max-width: 250px;}
    .advantages-card:first-of-type, .advantages-card:nth-child(2) {margin-top: 1rem;}
    .advantages-card-bottom {margin-bottom: 1rem;}
    .steps-section-card {margin-top: 1rem;}
    .steps-section-card-item {margin-bottom: 3rem;}
    .steps-section-card-item:last-of-type {margin-bottom: 2rem;}
    .steps-section-card-item-line{height: 500px;}
    .steps-section .did-you-know-card-block {min-height: 210px;}
    .know-more-card .card-body {min-height: 240px;}
    .know-more-card .card-text {height: 90px;}
    .calculator-section{height: unset;}
    .calculator-card, .calculator-card .calculadora, .calculator-card iframe {height: revert-layer;}
    .faq-section-contact{margin-top: 1rem;}
    .faq-section-contact, .faq-section-contact .btn_default {max-width: unset; width: 100%;}
    .sales-counter, .rent-counter{display: grid;grid-template-columns: 1fr 1fr;border-radius: 25px;}
    .sales-counter-item, .rent-counter-item{justify-content: space-between;}
    .sales-counter-item:first-of-type, .sales-counter-item:nth-child(3){border-right: 1px solid #33333359;}
    .sales-counter-item:last-of-type, .sales-counter-item:nth-child(3){border-top: 1px solid #33333359;}
    .rent-counter-item:first-of-type, .rent-counter-item:nth-child(3){border-right: 1px solid #33333359;}
    .rent-counter-item:last-of-type, .rent-counter-item:nth-child(3){border-top: 1px solid #33333359;}
    .sales-counter-item h1{width: 35%!important;}
    .rent-counter-item h1{width: 65%!important;}
    .know-more-bottom-image {width: 30%;height: 30%;margin: auto;}
}
@media screen and (min-width: 481px) and (max-width: 767px){}
@media screen and (max-width: 480px){}
@media screen and (min-width: 414px) and (max-width: 430px){}
@media screen and (min-width: 411px) and (max-width: 413px){}
@media screen and (min-width: 375px) and (max-width: 410px){}
@media screen and (min-width: 321px) and (max-width: 374px){}
@media screen and (max-width: 420px){} 
@media screen and (max-width: 320px){} 

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}



@media (max-width: 575.98px) {}
@media (max-width: 768px) {
    .announce-main-section {
        background-position: 80%;
    }
    .announce-main-description {
        background: linear-gradient( 135deg, rgba(49, 44, 115, 0.8), rgba(49, 44, 115, 0.5));
        border-radius: 1rem;
    }
}
@media (max-width: 767.98px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .sales-section .container, .rent-section .container {padding-right: 25px;padding-left: 25px;}
    .header-default nav {padding: 15px 25px;}
    .navbar-nav {margin-top: 1rem;border-top: 1px solid #33333359;border-bottom: 1px solid #33333359;padding-bottom: .5rem;}
    .navbar-expand-xl .navbar-nav .nav-link {padding: 8px 0px;border-bottom: 1px solid #33333317;margin: 0 20px;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(5) .nav-link {border-bottom: unset;}
    .navbar-expand-xl .navbar-nav .nav-item:nth-child(6) .nav-link, .navbar-expand-xl .navbar-nav .nav-item:nth-child(7) .nav-link {margin: 10px 20px;}
    .header-default nav .nav-item:last-of-type {margin-left: 0;}    
    .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49,44,115, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
    .navbar-toggler-icon {border-color: var(--jacarta);}
    .announce-main-section {min-height: 400px;background-size: auto;padding: 0;}
    .announce-main-description {padding: 30px 25px;min-height: 400px;display: flex;flex-direction: column;justify-content: space-between;}
    .announce-main-description h1, .steps-section-title h1, .calculator-section-content h1{font-size: 32px;margin-bottom: 2rem;}
    .sales-section-title, .advantages-section-title, .rent-section-title, .faq-section-title, .faq-section-contact-title {font-size: 34px;}
    .announce-main-description h2, .did-you-know-card-block-title h2, .sales-section-description, .rent-section-description {font-size: 24px;}
    .announce-main-description h1 br{display: none;}
    .steps-section, .calculator-section, .sales-section, .advantages-section, .rent-section, .faq-section, .know-more-section{padding: 30px 0 30px;}
    .steps-section-card-item-image {margin: 1rem auto;}
    .steps-section-card-item {margin-bottom: 1.5rem;}
    .steps-section-card {margin-top: 0;}
    .steps-section-card-item, .know-more-card-bottom, .sales-counter, .rent-counter {flex-direction: column;}
    .steps-section .steps-section-bell {width: 40px;height: 40px;right: 10px;top: -10px;}
    .steps-section-card-item-line {display: none;}
    .steps-section .did-you-know-card-bell {width: 30px;height: 30px;}
    .steps-section .mascot-image{max-width: 250px;}
    .steps-section .did-you-know-card-block {padding: 20px;min-height: 230px;}
    .steps-section .did-you-know-card-block-content p{font-size: 20px;}
    .steps-section .did-you-know-card-arrow {top: 220px;}
    .calculator-section{height: unset;}
    .calculator-card, .calculator-card .calculadora, .calculator-card iframe {height: revert-layer;}
    .sales-counter, .rent-counter{border-radius: 20px;}
    .sales-counter-item, .rent-counter-item {flex-direction: column;padding-left: 0;width: 100%;}
    .sales-counter-item:not(:last-of-type), .rent-counter-item:not(:last-of-type){border-bottom: 1px solid #33333317;padding-bottom: 1rem;padding-top: 1rem;}
    .sales-counter-item h1, .rent-counter-item h1{width: 100%!important;}
    .sales-counter-item p, .rent-counter-item p {width: 100%; text-align: center;margin: 0;}
    .advantages-section-image, .advantages-section-two .advantages-section-image {background-size: cover; border-radius: 30px;}
    .advantages-section-image img {position: relative;bottom: 0;right: -7%;max-width: 250px;}
    .advantages-section-two .advantages-section-image img {position: relative;bottom: 0;right: -22%;max-width: 250px;}
    .advantages-card:first-of-type {margin-top: 1rem;}
    .advantages-card-block { min-height: 180px;}
    .advantages-card-bottom {margin-bottom: 1rem;}
    .advantages-card-description {font-size: 22px;}
    .rent-section-description {margin-bottom: 1.5rem;}
    .faq-accordion .card-header {padding: 8px 30px;border-radius: 20px !important;}
    .know-more-bottom-image {max-width: 75%;margin: auto;}
}
@media (max-width: 991.98px) {}
@media (max-width: 1199.98px) {}
@media (max-width: 575.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .col-xs-footer{-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
    .col-xs-footer{padding-right: 15px!important;padding-left: 15px!important;}
}
@media (min-width: 576px) and (max-width: 767.98px) {}
@media (min-width: 768px) and (max-width: 991.98px) {}
@media (min-width: 992px) and (max-width: 1199.98px) {}
@media (min-width: 1200px) {}